.body {
    margin: 10px;
}

.my-container {
    border: 10px solid grey;
}

.my-row {
    border: 1px solid violet;
    margin: 1px;
}

.my-col {
    border: 1px solid blue;
    margin: 1px;
}
.cell {
    border: 1px solid blue;
    background-color: purple;
    text-align: center;
    padding: 10px 0;
    color:antiquewhite;
    font-size:xx-large;
    margin: 1px;
}

.operation {
    border: 2px solid rgb(80, 72, 73);
    background-color: purple;
    text-align: center;
    padding: 10px 0;
    color:antiquewhite;
    font-size:large;
    margin: 1px;
}


.opitem {
    border: 2px solid rgb(80, 72, 73);
    background-color: rgb(83, 74, 83);
    text-align: center;
    padding: 10px 0;
    color:antiquewhite;
    font-size:medium;
    margin: 1px;
    width: 100%;
}




