<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous">
        <title>{% block title%}{% endblock %}</title>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style5.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse"
                    class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none
                    ml-auto"
                    type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse">
                    <button type="button" class="btn btn-primary" onclick="location.href='./'"><img src="static/img/house.svg" />Home</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='./refresh'"><img src="static/img/brightness-alt-high.svg" />Refresh</button>
                 </div>
                <div class="container-fluid fs-1 text-center">
                    {% block operation%}
                    {% endblock %}
                </div>
                <div class="collapse navbar-collapse">
                    <button type="button" class="btn btn-primary" onclick="location.href='./update_firmware'"><img src="static/img/download.svg" />Firmware</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='./settings'"><img src="static/img/gear.svg" />Settings</button>
                </div>
                </nav>
                <div class="row">
                    <div class="wrapper">
                        <!-- Sidebar Holder -->
                        <nav id="sidebar">
                            <div class="sidebar-header operation">
                                <h3>Operations</h3>
                            </div>
                            <ul class="list-unstyled components">
                                <li>
                                    <button type="button" class="btn opitem">Monitor</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">TestCycle</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">Charge</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">TestAndStore</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">TestAndCharge</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">Storage</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">InternalResistance</button>
                                </li>
                                <li>
                                    <button type="button" class="btn opitem">Discharge</button>
                                </li>
                            </ul>
                        </nav>
                        {% block content%}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </nav>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous">
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
                $('#sidebar').toggleClass('active');
                $('#sidebarCollapse').toggleClass('active');
                $(".opitem").on("click", function(e){
                    $.ajax({
                        type: "POST",
                        url: "/operation",
                        data: {operation: e.target.innerHTML},
                        dataType: "text",
                        // success: function(data){
                        //             alert("Operation "+ operation.toString());
                        //         }
                });
              });
            });
        </script>
        {% block script%}
        {% endblock %}
    </body>
</html>