{% extends "base.html" %}
{% block title %}Firmware{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

        <h1>Upload an image</h1>
        <hr>

        <form action="/upload-firmware" method="POST" enctype="multipart/form-data">

            <div class="form-group">
            <label>Select image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image" accept=".bin">
                <label class="custom-file-label" for="image">Select firmware.bin file</label>
            </div>
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>

        </form>
            <button type="button" id="publishOta" class="btn btn-primary">Publish</button>
        </div>
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tester</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Version</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in range(0, devices) %}
                    <tr>
                        <td id="tester{{n}}"> {{n+1}} </td>
                        <td id="address{{n}}"> </td>
                        <td id="version{{n}}"> - </td>
                        <td> <button type="button" id="flash{{n}}" class="btn btn-primary">Publish</button> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script type="text/javascript">
    $(document).ready(function () {
        $("#publishOta").on("click", function(e){
            $.ajax({
                type: "POST",
                url: "/publishOta",
                data: {operation: e.target.innerHTML},
                dataType: "text",
                // success: function(data){
                //             alert("Operation "+ operation.toString());
                //         }
        });
      });
    });
</script>
{% endblock %}