{% extends "base.html" %}
{% block title %}Firmware{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Upload firmware</h1>
            <hr>
            <form action="/upload-firmware" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                <label>Select the firmware.bin file for the ESP32</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="firmware" id="firmware" accept=".bin">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
                </div>
            </form>
        </div>
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tester</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">State</th>
                        <th scope="col">Version</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in range(0, devices) %}
                    <tr>
                        <td id="tester{{n}}"> {{n+1}} </td>
                        <td ><a href="" id="ip{{n}}" class="btn btn-link" target="_blank" rel="noopener noreferrer">Link</a> </td>
                        <td id="state{{n}}"> - </td>
                        <td id="version{{n}}"> - </td>
                        <td> <button type="button" id="flash{{n}}" value="{{n+1}}" class="flash btn btn-outline-danger btn-sm">Flash</button> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script type="text/javascript">
    $(document).ready(function () {
        $(".flash").on("click", function(e){
            $.ajax({
                type : 'POST',
                url : "/publishOta",
                data : {'data':e.target.value}
            });
        });     
    });
</script>

<script>
    var eventSource = new EventSource("/listen")

    eventSource.addEventListener("ping", function(e) {
    data = JSON.parse(e.data)
    if ('TESTERNUMBER' in data) {
        document.querySelector("#ip"+(data.TESTERNUMBER-1)).innerText = data.IP;
        document.querySelector("#ip"+(data.TESTERNUMBER-1)).setAttribute('href', "http://" +  data.IP);
        document.querySelector("#version"+(data.TESTERNUMBER-1)).innerText = data.VERSION;
    }
    }, false)

    eventSource.addEventListener("LWT", function(e) {
    data = JSON.parse(e.data)
    if ('TESTERNUMBER' in data) {
        t = document.querySelector("#state"+(data.TESTERNUMBER-1))
        t.innerText = data.STATE;
        t.style.color= data.STATE=="ONLINE" ? "green" : "red";
    }
    }, false)
</script>

{% endblock %}