{% extends "base.html" %}
{% block title %}Battery Tester{% endblock %}

    {% block operation%}
    <div id="operation"></div>
    {% endblock %}

    {% block content %}
    <div class="container my-container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Stage</th>
                    <th scope="col">Voltage</th>
                    <th scope="col">Current</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">MaxTemperature</th>
                    <th scope="col">Elapsed Time</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Resistance</th>
                </tr>
            </thead>
            <tbody>
                {% for n in range(0, cellCount) %}
                <tr>
                    <td id="cell{{n}}"> {{n+1}} </td>
                    <td id="colour{{n}}"> </td>
                    <td id="stage{{n}}"> - </td>
                    <td id="voltage{{n}}"> - </td>
                    <td id="current{{n}}"> - </td>
                    <td id="temperature{{n}}"> - </td>
                    <td id="maxtemperature{{n}}"> - </td>
                    <td id="time{{n}}"> - </td>
                    <td id="capacity{{n}}"> - </td>
                    <td id="resistance{{n}}"> - </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    {% block script%}
    <script>
        var eventSource = new EventSource("/listen")

        // eventSource.addEventListener("message", function(e) {
        // console.log(e.data)
        // }, false)

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

            hours = (hours < 10) ? "0" + hours : hours;
            minutes = (minutes < 10) ? "0" + minutes : minutes;
            seconds = (seconds < 10) ? "0" + seconds : seconds;

            return hours + ":" + minutes + ":" + seconds;
        }

        var colours = {"Standby":"#bfbf0a","NoBatteryFound":"#7d807f","Monitor":"#1229c4","Stabilize":"#a912c4", "InternalResistance":"#c44d12","FullCharge":"#2fff05","Discharge":"#bf0a0a","StorageCharge":"#bf7a0a","ThermalShutdown":"#bf0a68","Complete":"#646b66"} 

        eventSource.addEventListener("update", function(e) {
            data = JSON.parse(e.data)
            document.querySelector("#stage"+data.index).innerText = data.state + "(" + data.stage + ")";
            if ('voltage' in data) {
                document.querySelector("#voltage"+data.index).innerText = data.voltage + ' mV';
            }
            if ('current' in data) {
                document.querySelector("#current"+data.index).innerText = data.current + ' mA';
            }
            if ('temperature' in data) {
                document.querySelector("#temperature"+data.index).innerText = data.temperature == 65535 ? "-" : data.temperature/10.0 + ' °C';
            }
            if ('maxTemperature' in data) {
                document.querySelector("#maxtemperature"+data.index).innerText = data.maxTemperature/10.0 + ' °C';
            }
            if ('duration' in data) {
                document.querySelector("#time"+data.index).innerText = msToTime(data.duration);
            }
            if (typeof colours[data.state] != 'undefined') {
                document.querySelector("#colour"+data.index).style.backgroundColor= colours[data.state];
            }
        }, true)
        eventSource.addEventListener("outcome", function(e) {
            data = JSON.parse(e.data)
            if ('capacity' in data) {
                document.querySelector("#capacity"+data.index).innerText = data.capacity == 0 ? "-" : data.capacity + ' mAh';
            }
            if ('internalResistance' in data) {
                document.querySelector("#resistance"+data.index).innerText = data.internalResistance == 0 ? "-" : data.internalResistance + ' mΩ';
            }
            if ('operation' in data) {
                document.querySelector("#operation").innerText = data.operation;
            }
        }, true)

        eventSource.addEventListener("mode", function(e) {
            data = JSON.parse(e.data)
            document.querySelector("#stage"+data.index).innerText = data.state;
            if (typeof colours[data.state] != 'undefined')
                document.querySelector("#colour"+data.index).style.backgroundColor= colours[data.state];
        }, true)

        eventSource.addEventListener("operation", function(e) {
            document.querySelector("#operation").innerText = e.data;
        }, true)


    </script>

{% endblock %}
