<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.classicdiy.battery">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/battery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/battery"
        android:supportsRtl="true"
        android:theme="@style/Theme.Battery">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Battery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="ca.classicdiy.battery.cell" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <service
            android:name=".MQTTService"
            android:exported="false" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>