{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- <div class="container my-container" >
    <div class=" row ">

        <div id="cell" class="col-md-1 cell">cell</div>
        <div class="col-md-10 ">
            <div class="container ">

                <div class="row ">
                    <div id="state" class="col-md-2 my-col">state</div>
                    <div id="time" class="col-md-8 my-col">time</div>
                </div>
                <div class="row ">
                    <div id="voltage" class="col-3 my-col">voltage</div>
                    <div id="current" class="col-3 my-col ">current</div>
                    <div id="temperature" class="col-3 my-col ">temperature</div>
                </div>
                <div class="row ">
                    <div id="capacity" class="col-5 my-col">capacity</div>
                    <div id="resistance" class="col-5 my-col ">resistance</div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container my-container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Stage</th>
                <th scope="col">Voltage</th>
                <th scope="col">Current</th>
                <th scope="col">Temperature</th>
                <th scope="col">Elapsed Time</th>
                <th scope="col">Capacity</th>
                <th scope="col">Resistance</th>
            </tr>
        </thead>
        <tbody>
            {% for n in range(0, cellCount) %}
            <tr>
                <td id="cell{{n}}"> {{n+1}} </td>
                <td id="colour{{n}}"> </td>
                <td id="stage{{n}}"> - </td>
                <td id="voltage{{n}}"> - </td>
                <td id="current{{n}}"> - </td>
                <td id="temperature{{n}}"> - </td>
                <td id="time{{n}}"> - </td>
                <td id="capacity{{n}}"> - </td>
                <td id="resistance{{n}}"> - </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var eventSource = new EventSource("/listen")

    eventSource.addEventListener("message", function(e) {
    console.log(e.data)
    }, false)

    var colours = {"Standby":"#f0f8ff","NoBatteryFound":"#00ffff","Monitor":"#7fffd4","Stabilize":"#f0ffff", "InternalResistance":"#f5f5dc","FullCharge":"#ff0000","Discharge":"#ffe4c4","StorageCharge":"#ffe4c4","ThermalShutdown":"#ffe4c4","Complete":"#ffe4c4"} 

    eventSource.addEventListener("online", function(e) {
    // console.log(e.data.color)
    data = JSON.parse(e.data)
    document.querySelector("#stage"+data.cell).innerText = data.state;
    document.querySelector("#voltage"+data.cell).innerText = data.voltage + ' mV';
    document.querySelector("#current"+data.cell).innerText = data.current + ' mA';
    document.querySelector("#temperature"+data.cell).innerText = data.temperature/10.0 + ' °C';
    // document.querySelector("#cell").innerText = data.cell;
    if (typeof colours[data.state] != 'undefined')
        document.querySelector("#colour"+data.cell).style.backgroundColor= colours[data.state];
    }, true)
</script>
{% endblock %}
